@font-face {
    font-family: OpenSans-Bold;
    src: url(OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(OpenSans-Regular.ttf);
}

* {
    /* regel om de basis regels uit te zetten */
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* Fonts ----------------------*/

h1 {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: OpenSans-Bold, serif;
}

h2 {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: OpenSans-Bold, serif;
}

h3 {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: OpenSans-Bold, serif;
}

p {
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    font-family: OpenSans-Regular, serif;
}

/* Navigatie -----------------*/

nav {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    background-color: #21CBBA;
    height: 7vh;
}

nav ul {
    list-style-type: none;
    display: none;
    /*    margin-top: 7vh;*/
    z-index: 2;
    height: 1200px;
    background-color: green;
}

img.logo {
    height: 100%;
    display: inline-block;
    /*    position: absolute;*/
}

li {
    font-family: OpenSans-Bold, serif;
    text-decoration: none;
    padding: 12px 30px;
    background-color: #21CBBA;
    text-align: center;
    transition: 0.7s;
    width: 90vw;
}

li a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #1DBCAC;
    transition: 0.7s;
}

li.overiglink {
    background-color: #FF0066;
}

li.overiglink:hover {
    background-color: #E2075F;
}

.hamburger {
    height: auto;
    width: auto;
    cursor: pointer;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    right: 20px;
}

.hamburger div {
    width: 22px;
    height: 3px;
    margin: 5px;
    background-color: white;
}

.popnav {
    display: block;
    transition: 0.7s;
    opacity: 1;
}

.itemimg {
/*    background-color: red;*/
    width: 35%;
    height: auto;
    float: left;
}

.itemtekst {
/*    background-color: green;*/
    width: 65%;
    height: auto;
    float: left;
}


/* Sections -------------------*/

section {
    /*    background-color: green;*/
}

section.firstcontent {
    margin: 0 auto;
    max-width: 40em;
}

/* Border om de section heen */
section .arroundsection {
    border: #A8A8A8 solid 2px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

/* Achtergrond van je scherm */
section.background {
    width: 100vw;
    height: 100vh;
    /*    background-color: red;*/
    background-image: url(./image/backtruck.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.overzicht {
    width: 100%;
    height: auto;
}

section.overzicht h2 {
    text-transform: uppercase;
}

section .overzichtsitem { /*---Dit is 1 item---*/
    border: #21CBBA solid 2px;
    margin: 0px 20px 0px 20px;
    max-width: 40em;
    display: flex;
}

section.overzicht img {
    width: 100%;
    height: auto;
    display: inline;
}

section.overzicht p {
    margin-top: 10px;    
}

section.detailpage {
    max-width: 40em;
}

section.detailpage p {
    color: #1DBCAC;
}


/* Media query's ------------------------------------------------------*/


@media all and (min-width: 600px) {

    nav {
        flex-wrap: wrap;
        /*werkt nog niet*/
    }

    nav ul {
        list-style-type: none;
        display: flex;
    }

    li {
        width: auto;
    }

    li.desktopnav {
        display: none;
    }

    li.overiglink {
        display: none;
    }
}
